<div class="section container">
    <div class="row">
        <div class="card center hoverable  grey lighten-4">
            <h1 class="red-text text-accent-1"><%=title%></h1>
            <h2 class="blue-grey-text text-darken-2"><%=description%></h2>
        </div>
    </div>
</div>