<%- include("partials/header", {webTitle: '404 Not Found'})%>

    <div class="section container">
        <div class="row">
            <div class="card center hoverable  grey lighten-4">
                <h1 class="red-text text-accent-1"><%=title%></h1>
                <p class="blue-grey-text text-darken-2"><%=description%></p>
            </div>
        </div>
    </div>

<%- include("partials/footer")%>